a {
    text-decoration: none;
    color: inherit;
}

header h1,
header h2,
header h3,
header h4,
header h5 {
    margin: 0;
}

p,i,a,h1,h2,h2,h3,h4,h5 {
   font-family: system, sans-serif;
	outline: none;
}

html {
    width: 100%;
    min-height: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

body {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*background: #8AB3AE;
    background: -webkit-gradient(linear, left top, right bottom, from(#39A383), to(#8AB3AE));
    background: -o-linear-gradient(-45deg, #39A383 0%, #8AB3AE 100%);
    background: -webkit-linear-gradient(-45deg, #39A383 0%, #8AB3AE 100%);
    background: -webkit-gradient(linear, left top, right bottom, from(#39A383), to(#8AB3AE));
    background: -webkit-linear-gradient(top left, #39A383, #8AB3AE);
    background: -o-linear-gradient(top left, #39A383, #8AB3AE);
    background: linear-gradient(to bottom right, #39A383, #8AB3AE);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#39A383', endColorstr='#8AB3AE', GradientType=1);*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    min-height: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    background: #ecf8f5;
}

.container {
    margin: 20px 6% 20px 6%;
}

.white {
    color: #ffffff;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: auto;
}

nav li {
    float: left;
    margin: 0;
    padding: 0;
    position: relative;
}

nav div {
    display: block;
    width: auto;
    margin-top: 5px;
    -webkit-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

nav li ul {
    float: left;
    left: 0;
    opacity: 0;
    position: absolute;
    visibility: hidden;
    z-index: 1;
    -webkit-transition: all .2s ease;
    -o-transition: all .2s ease;
    transition: all .2s ease;
}

nav li:hover ul {
    opacity: 1;
    visibility: visible;
}

nav li:hover div {
    background: #ffffff;
    padding: 10px;
	 border-radius: 40px;
}

nav li div {
	 border: #ecf8f5;
	 border-style: solid;
	 border-width: 2px;
	 border-radius: 20px;
	 padding: 5px;
}

nav li div:hover {
	 border: #42bd98;
	 border-style: solid;
	 border-width: 2px;
	 border-radius: 20px;
	 padding: 10px;
}

nav li ul li {
    float: none;
    width: 100%;
}

.clearfix {
    clear: both;
    content: "";
    display: table;
    zoom: 1;
}

.terminaloutput {
    white-space: pre-wrap;
    font-family: 'Lucida Console', monospace;
    color: greenmin-;
}

.smalllink {
    display: inline-block;
    vertical-align: bottom;
    font-size: 18px;
}

.largelink {
    display: inline-block;
    vertical-align: text;
    font-size: 18px;
}

#darken {
    visibility: hidden;
    -webkit-tap-highlight-color: transparent;
}

.hoverheader:hover~#darken {
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(35, 92, 79, 0.4);
    visibility: visible;
    top: 0;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear;
    transition: all .2s linear;
}

/*temporary? fix for ie stupid z-index behaviour*/

@media screen\0,
screen\9 {
    .hoverheader:hover~#darken {
        z-index: -1;
    }
}

@media only screen and (max-width: 850px) {
    .card:nth-child(n) {
        -ms-flex: 1 1 100%;
        flex: 1 1 100%;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    .card-image {
        display: inline-block;
        text-align: center;
        align-self: center !important;
    }
    header {
        padding: 20px !important;
        font-size: 80%;
    }
    .container {
		  margin: 20px 3% 20px 3%;
    }

}

@media only screen and (max-height: 500px) {
    header {
        padding: 20px !important;
        font-size: 70% !important;
    }
}

.copyright {
    width: 100%;
    padding: 10px 45px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: fixed;
    right: 0;
    bottom: 0;
    color: #eee;
    text-align: right;
}

.column {
    float: left;
    width: 50%;
    padding: 5px;
}

/* Clearfix (clear floats) */

.row::after {
    content: "";
    clear: both;
    display: table;
}

.card {
	margin: 20px 0 20px 0;
	background-color: #ffffff;
	border-radius: 8px;
	/* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2); */
	/* -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2); */
	/* -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2); */
	-webkit-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
	color: black;
	overflow: hidden;
	padding: 5px;
	min-height: 100px;
	background-size: cover;
	-ms-flex: 1 1 50%;
	-webkit-box-flex: 1;
	flex: 1 1 50%;
	-ms-flex-direction: row;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	flex-direction: row;
	display: -ms-flexbox;
	display: -webkit-box;
	display: flex;
	flex-basis: 100%;
	border: #b4e4d6;
	border-width: 2px;
	border-style: solid;
}

.card:hover {
   border: #42bd98;
	border-width: 2px;
	border-style: solid;
}

/*.flexlist {
    position: relative;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    height: 100%;
}*/

.card-image {
    width: auto;
    max-height: 200px;
    -ms-flex-item-align: start;
    align-self: flex-start;
    margin: 10px;
    flex-shrink: 0;
	 border-radius: 10px;
}

.card-content {
    -ms-flex-positive: 1;
    -webkit-box-flex: 1;
    flex-grow: 1;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -ms-flex-direction: column;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    flex-direction: column;
    -ms-flex-pack: justify;
    -webkit-box-pack: start;
    justify-content: flex-start;
    max-width: 98%;
    width: 98%;
    margin: 0 1%;
}

header {
    object-fit: scale-down;
    position: -webkit-sticky;
    position: sticky;
    width: 100%;
    padding: 25px;
    /*background-color: rgba(255, 255, 255, 0.9);*/
	 background-color: #f5f5f5;
    color: black;
    top: 0;
    z-index: 80;
    /*box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.4);*/
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-bottom-left-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-radius-bottomleft: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    margin: 0;
    -webkit-transition: all .3s linear;
    -o-transition: all .3s linear;
    transition: all .3s linear;
    border-style: solid;
    border-color: #b4e4d6;
    border-width: 2px;
}

/*.flexlist .card:nth-child(6n+1){
    -ms-flex:1 1 100%;
    flex:1 1 100%;
    -ms-flex-direction:column;
    flex-direction:column;
}*/

.coloraccent {
    color: #000000;
}
