<div class="container">
    {{ range where .Data.Pages "Section" "home" }}
    <div class="card post post--{{ .Params.class }}">
        <div class="card-content">
            <h2 class="post__title">{{ .Title }}</h2>
            <div class="post__content">
                {{ .Content }}
            </div>
        </div>
				{{ if isset .Params "coverimage" }}<img class="card-image" src="/{{ .Param "coverimage" }}" alt="{{ cond (isset .Params "coverimagealt") (.Param "coverimagealt") (.Title) }}">{{ end }}
    </div>
    {{ end }}
</div>
