<div class="container">
    <h1 class="title coloraccent">{{ .Title }}</h1>
    {{ range .Paginator.Pages }}
    <article class="card">
        <div class="card-content">
            <h2 style="width: fit-content"><a href="{{ .URL }}">{{ .Title }}</a></h2>
            <div class="post__summary">
					 <p>
                {{ .Summary }}
					 </p>
                <i style="font-size: 10px;">{{ if isset .Params "date" }} - {{ .Date.Format "02-01-2006" }}{{ end }}</i>
            </div>
        </div>
				{{ if isset .Params "coverimage" }}<img class="card-image" src="/{{ .Param "coverimage" }}" alt="{{ cond (isset .Params "coverimagealt") (.Param "coverimagealt") (.Title) }}">{{ end }}
    </article>
    {{ end }} {{ partial "pagination.html" . }}
</div>
