<div class="container">
    <article class="card page page--{{ .Params.class }}">
        <div class="card-content">
            <h1 class="page__title">
                {{ .Title }}
            </h1>
            <div class="page__content">
                {{ .Content }}
            </div>
        </div>
        {{ if isset .Params "coverimage" }}<img class="card-image" src="/{{ .Param "coverimage" }}">{{ end }}
    </article>
</div>
