<div class="container">
    <article class="post post--{{ .Params.class }}">
        <article class="card">
            <div class="card-content">
                <h1 class="post__title">{{ .Title }}</h1>
                <div class="post__content">
                    {{ .Content }}
                    <footer class="post__meta">
                        <span class="post__meta-date"><time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "2006. 1. 2" }}</time></span> {{ partial "taxonomies" . }}
                    </footer>
                </div>
            </div>
				{{ if isset .Params "coverimage" }}<img class="card-image" src="/{{ .Param "coverimage" }}" alt="{{ cond (isset .Params "coverimagealt") (.Param "coverimagealt") (.Title) }}">{{ end }}
        </article>
        <nav class="p-pagination">
            <div class="p-pagination__newer">
                {{ if .PrevInSection }}
                <p class="p-pagenation__label">Prev</p>
                <a href="{{ .PrevInSection.Permalink | relURL}}">{{ .PrevInSection.Title }}</a> {{ else }} {{ end }}
            </div>
            <div class="p-pagination__older">
                {{ if .NextInSection }}
                <p class="p-pagenation__label">Next</p>
                <a href="{{ .NextInSection.Permalink | relURL}}">{{ .NextInSection.Title }}</a> {{ else }} {{ end }}
            </div>
</div>
</div>
</nav>
</div>
